In [1]:
# Dependencies
import pandas as pd
from sqlalchemy import create_engine
from string import digits
import numpy as np

In [4]:
csv = ('static/data/consolidated_Chairs.csv')
df = pd.read_csv(csv)
df.head()

,Party,Candidate,Last_Name,First_Name,State_Abbrv,Candidate_Votes,State,Total_Votes,Committee,Contributions,Election_Year,Assumed_Office
0,Republican,Pat Roberts,Roberts,Pat,KS,460350,Kansas,866191,"Agriculture, Nutrition and Forestry",8040544,2014,1997
1,Republican,James M. Inhofe,Inhofe,James,OK,558166,Oklahoma,820733,Armed Services,4841285,2014,1994
2,Republican,Michael B. Enzi,Enzi,Michael,WY,121554,Wyoming,171153,Budget,3772045,2014,1997
3,Republican,James E. Risch,Risch,James,ID,285596,Idaho,437170,Foreign Relations,2902855,2014,2009
4,Republican,Lamar Alexander,Alexander,Lamar,TN,850087,Tennessee,1374065,"Health, Education, Labor and Pensions",8201067,2014,2003

In [5]:
postgres='williammdavis'
password = 'FuzzyRug5x7'

In [6]:
engine = create_engine(f"postgres://uwhvkhnbshixmw:f52b05433f05874f8f359965b54b4ec8a4a5187bcf3412f2924914c3122fa01a@ec2-54-156-149-189.compute-1.amazonaws.com:5432/dct70e7uirlhqs")
conn = engine.connect()

In [7]:
df.to_sql('chairs', engine, if_exists="append")

In [8]:
Project_2 = pd.read_sql("SELECT * FROM chairs", conn)
Project_2.head()

,index,Party,Candidate,Last_Name,First_Name,State_Abbrv,Candidate_Votes,State,Total_Votes,Committee,Contributions,Election_Year,Assumed_Office
0,0,Republican,Pat Roberts,Roberts,Pat,KS,460350,Kansas,866191,"Agriculture, Nutrition and Forestry",8040544,2014,1997
1,1,Republican,James M. Inhofe,Inhofe,James,OK,558166,Oklahoma,820733,Armed Services,4841285,2014,1994
2,2,Republican,Michael B. Enzi,Enzi,Michael,WY,121554,Wyoming,171153,Budget,3772045,2014,1997
3,3,Republican,James E. Risch,Risch,James,ID,285596,Idaho,437170,Foreign Relations,2902855,2014,2009
4,4,Republican,Lamar Alexander,Alexander,Lamar,TN,850087,Tennessee,1374065,"Health, Education, Labor and Pensions",8201067,2014,2003