In [9]:
#dependencies
import pandas as pd
from sqlalchemy import create_engine
from config import DATABASE_URL

In [51]:
new= pd.read_csv("../data/campaignContributions/contributions_2018.csv")
new

,First_Name,Last_Name,State,Party_Name,Total_Raised,Full_Name,State_Abbrv,Party
0,Lamar,Alexander,Tennessee,Republican,8031431,Lamar Alexander,TN,R
1,Tammy,Baldwin,Wisconsin,Democrat,30898416,Tammy Baldwin,WI,D
2,John,Barrasso,Wyoming,Republican,7380997,John A Barrasso,WY,R
3,Michael,Bennet,Colorado,Democrat,17579297,Michael F Bennet,CO,D
4,Richard,Blumenthal,Connecticut,Democrat,9049428,Richard Blumenthal,CT,D
...,...,...,...,...,...,...,...,...
95,Elizabeth,Warren,Massachusetts,Democrat,34897111,Elizabeth Warren,MA,D
96,Sheldon,Whitehouse,Rhode Island,Democrat,6608027,Sheldon Whitehouse,RI,D
97,Roger,Wicker,Mississippi,Republican,6568817,Roger Wicker,MS,R
98,Ron,Wyden,Oregon,Democrat,13705548,Ron Wyden,OR,D
99,Todd,Young,Indiana,Republican,11108033,Todd Young,IN,R

In [52]:
engine = create_engine(DATABASE_URL)
connection = engine.connect()

In [54]:
new.to_sql("contributions_2018",con= connection)